@page
@model ChatModel
@{
}

<h1>Chat</h1>

<form id="send-form">
    Send a message: 
    <input type="text" id="message-textbox" disabled /> 
    <button id="send-button" type="submit" disabled>Send</button>
</form>

<ul id="messages-list">
</ul>

@section Scripts {
    <script src="/lib/signalr/signalr.js"></script>
    <script type="text/javascript">
        // Bind DOM elements
        var sendForm = document.getElementById("send-form");
        var messagesList = document.getElementById("messages-list");
        var messageTextBox = document.getElementById("message-textbox");

        let connection = new signalR.HubConnection("/signalr/chat");

        sendForm.addEventListener("submit", function() {
            let message = messageTextBox.value;
            messageTextBox.value = "";
            connection.send("Send", message);
        });

        connection.on("ReceiveMessage", function (sender, message) {
            messagesList.innerHTML += '<li>' + sender + ': ' + message + '</li>';
        });

        connection.on("ReceiveAction", function (sender, action) {
            messagesList.innerHTML += '<li>' + sender + ' ' + message + '</li>';
        });

        connection.start();
    </script>
}