@page
@model AboutModel
@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<p>SignalR Demo!</p>

<div>
    Message: <input type="text" id="message-textbox" /> <button id="send-button">Broadcast</button>
</div>

<ul id="messages-list"></ul>

@section Scripts {
    <script src="/lib/signalr/signalr.js"></script>
    <script src="/js/broadcast.js"></script>
}