@page
@model ChatModel
@{
    ViewData["Title"] = "Chat";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<p>SignalR Demo!</p>

<div>
    Message: <input type="text" id="message-textbox" /> <button id="send-button">Broadcast</button>
</div>

<ul id="messages-list"></ul>

@section Scripts {
    <script src="/lib/signalr/signalr.js"></script>
    <script type="text/javascript">
        // Bind DOM elements
        var sendForm = document.getElementById("send-form");
        var messagesList = document.getElementById("messages-list");
        var messageTextBox = document.getElementById("message-textbox");

        function appendMessage(content) {
            var li = document.createElement("li");
            li.innerText = content;
            messagesList.appendChild(li);
        }

        var connection = new signalR.HubConnection("/hubs/chat");

        sendForm.addEventListener("submit", function() {
            var message = messageTextBox.value;
            messageTextBox.value = "";
            connection.send("Send", message);
        });

        connection.on("SendMessage", function (sender, message) {
            appendMessage(sender + ': ' + message);
        });

        connection.on("SendAction", function (sender, action) {
            appendMessage(sender + ' ' + action);
        });

        connection.start();
    </script>
}